body {
    font-family: Arial, sans-serif;
    margin: 10rem;
    padding: 5rem;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    margin-bottom: 100px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #0008ff;
    color: white;
    border: none;
    cursor: pointer;
}
